$primary-color: #ffffff;
$second-color: #181a20;
$color-1: #eb6753;
$color-2: #ee4c34;
$color-3: #bebdbd;
$bg-light: #fef4f3;
$bg-white: #f7f7f7;
$Transition: all .25s linear;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

input,
button {
    border: none;
    outline: none;
}

.container {
    margin: 0 auto;

}

@media(min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media(min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

%containerTitleStyles {
    margin-bottom: 7rem;

    .title {
        font-size: 3rem;
    }

    .txt {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        a {
            font-size: 1.5rem;
            color: $second-color;
            font-weight: 600;
            transition: $Transition;

            i {
                transform: rotate(-45deg);
                margin-left: 1.25rem;
            }

            &:hover {
                color: $color-1;
            }
        }
    }
}


.btn {
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid $second-color;
    outline: none;
    border-radius: 1rem;
    padding: 1.6rem 3rem;
    transition: all .3s linear;
    cursor: pointer;

    &:hover {
        color: $primary-color;
        background: $second-color;
    }

    i {
        font-size: 1.5rem;
        margin-left: 1rem;
        transform: rotate(-45deg);
    }
}