$primary-color: #ffffff;
$second-color: #181a20;
$color-1: #eb6753;
$color-2: #ee4c34;
$color-3: #bebdbd;
$bg-light: #fef4f3;
$bg-white: #f7f7f7;
$Transition: all .25s linear;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

input,
button {
    border: none;
    outline: none;
}

//global animation
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container {
    margin: 0 auto;
    padding: 1rem;
}

@media(min-width: 576px) {
    .container {
        max-width: 540px;
        padding: unset;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media(min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

//regular button style

.btn {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid $second-color;
    border-radius: 1rem;
    padding: 1.6rem 3rem;
    transition: $Transition;
    cursor: pointer;

    &:hover {
        color: $primary-color;
        background: $second-color;
    }

    i {
        font-size: 1.5rem;
        margin-left: 1rem;
        transform: rotate(-45deg);
    }
}

//section common style
%sectionStyle {
    padding: 12rem 0;
    position: relative;
}

//common style for container 
%containerTitleStyles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
    margin-top: 1rem;

    .txt {
        color: $second-color;

        .title {
            font-size: 3rem;
            font-weight: 600;
        }

        .desc {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    a {
        font-size: 1.5rem;
        font-weight: 600;
        color: $second-color;
        transition: $Transition;

        i {
            transform: rotate(-45deg);
            margin-left: 1.25rem;
        }

        &:hover {
            color: $color-1;
        }
    }
}

@media (max-width:992px) {
    %containerTitleStyles {
        flex-direction: column;
        gap: 2rem;
    }
}