#city-list {
    @extend %sectionStyle;

    .container {
        .row-1 {
            @extend %containerTitleStyles;
        }

        .row-2 {
            position: relative;

            .cityList {
                border-radius: 12px;
            }

            .city {
                position: relative;
                transition: all .3s ease-in-out;
                border-radius: 6px;

                &-image {
                    position: relative;
                    overflow: hidden;
                    border-radius: 12px;
                    transition: all .3s ease-in-out;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                        transition: all .3s ease-in-out;
                    }
                }

                &-content {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transition: all .3s ease-in-out;

                    .top-area {
                        position: absolute;
                        padding-left: 3rem;
                        top: 30px;
                        color: $primary-color;

                        h3 {
                            font-weight: 600;
                            margin-bottom: .5rem;
                        }

                        p {
                            font-size: 1.4rem;
                            font-weight: 400;
                        }
                    }

                    .bottom-area {
                        position: absolute;
                        left: 30px;
                        bottom: 30px;
                        visibility: hidden;
                        opacity: 0;
                        transform: translateY(30px);
                        transition: all .3s ease-in-out;

                        a {
                            font-size: 1.5rem;
                            color: $primary-color;
                            font-weight: 400;
                            cursor: pointer;

                            i {
                                transform: rotate(-45deg);
                                margin-left: 1.25rem;
                            }
                        }
                    }
                }

                &:hover {
                    .city-image {
                        img {
                            filter: brightness(55%);
                            transform: scale(1.1) rotate(-1deg);
                        }
                    }

                    .city-content {
                        .bottom-area {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0px);
                        }
                    }
                }
            }

            .swiperBtnList {
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: space-between;
                top: 50%;
                transform: translateY(-50%);
                z-index: 9;

                button {
                    width: 50px;
                    height: 50px;
                    background-color: $primary-color;
                    border-radius: 50%;
                    box-shadow: 0 10px 35px rgba(5, 16, 54, .1);
                    ;
                    transition: $Transition;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width:992px) {
    #city-list {
        padding: 3rem 0rem;
    }
}