#featured-list {
    font-size: 1.5rem;
    background: #F7F7F7;
    padding: 12rem 15rem;

    .container {
        .row-1 {
            margin-bottom: 7rem;

            .title {
                font-size: 3rem;
            }

            .txt {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
            }
        }

        .row-2 {
            display: grid;
            align-items: center;
            justify-content: center;
            column-gap: 3rem;
            grid-template-columns: repeat(3, 1fr);

            .item {
                // width: 380px;
                position: relative;
                background: #fff;
                overflow: hidden;
                border-radius: 1rem;

                .list-thumb {
                    position: relative;
                    overflow: hidden;

                    .sticker {
                        color: $primary-color;
                        background: $color-1;
                        font-size: 1.25rem;
                        text-transform: uppercase;
                        padding: .5rem 1rem;
                        border-radius: .6rem;
                        position: absolute;
                        left: 20px;
                        top: 20px;
                    }

                    .image {
                        position: relative;
                        width: 100%;
                        transition: all .25s linear;
                    }

                    .price {
                        background: $primary-color;
                        padding: .5rem .75rem;
                        border-radius: .6rem;
                        position: absolute;
                        left: 20px;
                        bottom: 20px;
                    }
                }

                .list-content {
                    padding: 2rem;
                    color: #717171;

                    .title {
                        color: $second-color;
                        font-size: 1.5rem;
                        font-weight: 600;
                        line-height: 2.5rem;
                    }

                    .desc {
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 2.75rem;
                        margin-bottom: 1.5rem;
                    }

                    .list-icon {
                        display: flex;
                        align-items: center;
                        column-gap: 3rem;

                        li {
                            font-size: 1.3rem;
                            transition: all .2s linear;

                            span {
                                margin-left: 1rem;
                            }

                            &:hover {
                                cursor: pointer;
                                color: $color-1;
                            }
                        }
                    }

                    .list-meta {
                        .sub-title {
                            font-size: 1.3rem;
                        }
                    }

                    .divider {
                        width: 100%;
                        margin: 1rem 0;
                        height: 1px;
                        background: #ddd;
                    }

                    .list-meta {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                &:hover {
                    .list-thumb {
                        .sticker {
                            animation: upDown .25s linear both;
                        }

                        .image {
                            transform: scale(1.11) rotate(-1deg);
                        }
                    }
                }
            }
        }
    }

    @keyframes upDown {
        0% {
            transform: translateY(0px);
            opacity: 1;
        }

        100% {
            transform: translateY(25px);
            opacity: 0;
        }
    }
}

@media (max-width:992px) {
    #featured-list {
        padding: 10rem;

        .container {
            .row-2 {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width:768px) {
    #featured-list {
        padding: 7rem;

        .container {
            .row-2 {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media (max-width:550px) {
    #featured-list {
        padding: 2rem 1rem;

        .container {
            .row-1 {
                margin-bottom: 3rem;

                .title {
                    font-size: 2rem;
                }

                .txt {
                    flex-direction: column;
                }
            }

            .row-2 {
                gap: 2rem;

                .item {
                    .list-thumb {
                        font-size: 1rem;

                        .sticker {
                            font-size: 1rem;
                        }
                    }

                    .list-content {
                        padding: 1.5rem;

                        .list-icon {
                            column-gap: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}