@import "variable";

#header {
    font-size: 1.5rem;

    .desktop-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2.25rem;

        .left {
            display: flex;
            align-items: center;
            gap: 5rem;

            .logo-box {
                cursor: pointer;
            }

            #nav-links {
                display: flex;

                .drop-item {
                    font-weight: 600;
                    border-radius: 6rem;
                    padding: .8rem 1.5rem;
                    transition: all .25s linear;
                    position: relative;
                    cursor: pointer;

                    .list-item {
                        color: $primary-color;

                        span:nth-child(2) {
                            margin-left: .6rem;
                            font-size: 1.5rem;
                        }

                        .fa-chevron-down {
                            font-weight: 600;
                        }
                    }

                    .megamenu {
                        max-width: 600px;
                        display: flex;
                        justify-content: space-evenly;

                        .megamenu-list {
                            margin-top: 1rem;

                            h4 {
                                padding: 1rem 3rem;
                            }

                            li {
                                width: 200px;
                                margin-bottom: .7rem;
                                padding: 1rem 3rem;
                                transition: all .25s linear;

                                &:hover {
                                    background: hsla(8, 79%, 62%, .07);
                                    cursor: pointer;
                                }

                                &:nth-child(1) {
                                    margin-top: 1rem;
                                }
                            }
                        }
                    }

                    .ss-menu {
                        color: $second-color;
                        background: $primary-color;
                        border-radius: .6rem;
                        height: auto;
                        visibility: hidden;
                        opacity: 0;
                        transform: scaleY(0);
                        transform-origin: 0 0;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        transition: all .2s ease-in-out;
                        box-shadow: 0 10px 40px rgba(24, 26, 32, .05);
                    }

                    .sub-menu {
                        width: 240px;

                        li {
                            width: 240px;
                            margin-bottom: .75rem;
                            padding: 1rem 3rem;
                            transition: all .25s linear;
                            position: relative;

                            &:hover {
                                background: hsla(8, 79%, 62%, .07);
                                cursor: pointer;
                            }

                            &:nth-child(1) {
                                margin-top: 1rem;
                            }

                            .parent-title {
                                display: flex;
                                justify-content: space-between;
                            }


                            .child-menu {
                                border-radius: .6rem;
                                position: absolute;
                                left: 100%;
                                top: 25%;
                                visibility: hidden;
                                transform: scaleY(0);
                                transform-origin: 0 0;
                                opacity: 0;
                                background: $primary-color;
                                transition: all .3s ease-in-out;
                            }
                        }

                        .parent-menu:hover .child-menu {
                            visibility: visible;
                            transform: scaleY(1);
                            opacity: 1;
                        }
                    }

                    &:hover {
                        background: hsla(0, 0%, 100%, .07);
                    }

                    &:hover .ss-menu {
                        visibility: visible;
                        transform: scaleY(1);
                        opacity: 1;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            gap: 2rem;

            .account {
                font-weight: 700;
                cursor: pointer;

                span {
                    margin-left: .5rem;
                }
            }

            .property-btn {
                font-weight: 600;
                background: transparent;
                border: 1px solid $primary-color;
                outline: none;
                border-radius: 6rem;
                padding: 1rem 2.25rem;
                transition: all .3s linear;
                cursor: pointer;

                &:hover {
                    background: $bg-color-2;
                }

                i {
                    font-size: 1.5rem;
                    margin-left: 1rem;
                    transform: rotate(-45deg);
                }
            }

            .menu-bar {
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }

    .mobile-bar {
        font-size: 2rem;
        color: $second-color;
        background: $primary-color;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;

        .logo-box {
            cursor: pointer;
        }
    }
}

@media (max-width:1155px) {
    #header {
        .desktop-bar {
            padding: 1rem;

            .left {
                gap: .1rem;

                nav {
                    li {
                        padding: .75rem 1.5rem;

                        a {
                            gap: .5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    #header {
        .desktop-bar {
            display: none;
        }

        .mobile-bar {
            display: flex;
        }
    }
}