#home {
    height: 100%;
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
    background-image: url('../image/home.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .title {
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .5rem;
        }

        .desc {
            font-size: 5rem;
        }

        input {
            width: 100%;
            border: none;
            outline: none;
        }
    }



}