@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.container {
  margin: 0 auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
@media (min-width: 1400px) {
  .container {
    max-width: 1320px; } }
#header {
  width: 100%;
  display: block;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  background-color: transparent;
  position: fixed;
  z-index: 9; }
  #header .sticky {
    box-shadow: 0 1px 4px rgba(24, 26, 32, 0.07);
    position: fixed;
    color: #181a20;
    background: #fff;
    animation: slideDown 1s both;
    z-index: 99; }
    #header .sticky .left .logo-box .wh-img {
      display: none; }
    #header .sticky .left .logo-box .b-img {
      display: block !important; }
    #header .sticky .left #nav-links .drop-item .list-item {
      color: #181a20 !important; }
    #header .sticky .right {
      color: #181a20; }
      #header .sticky .right .property-btn {
        color: #181a20;
        border: 1px solid #181a20 !important; }
        #header .sticky .right .property-btn:hover {
          color: #ffffff; }
  #header .desktop-bar {
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 10rem;
    position: relative; }
    #header .desktop-bar .left {
      display: flex;
      align-items: center;
      column-gap: 5rem; }
      #header .desktop-bar .left .logo-box {
        display: flex;
        align-items: center;
        cursor: pointer; }
      #header .desktop-bar .left #nav-links {
        display: flex;
        align-items: center;
        column-gap: 2rem; }
        #header .desktop-bar .left #nav-links .drop-item {
          font-weight: 500;
          border-radius: 6rem;
          padding: .8rem 1.5rem;
          transition: all .25s linear;
          position: relative;
          cursor: pointer; }
          #header .desktop-bar .left #nav-links .drop-item .list-item {
            color: #ffffff;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: 1rem; }
            #header .desktop-bar .left #nav-links .drop-item .list-item span:nth-child(2) {
              font-size: 1.25rem; }
            #header .desktop-bar .left #nav-links .drop-item .list-item .fa-chevron-down {
              font-weight: 600; }
          #header .desktop-bar .left #nav-links .drop-item .megamenu {
            max-width: 600px;
            display: flex;
            justify-content: space-evenly; }
            #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list {
              margin-top: 1rem; }
              #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list h4 {
                padding: 1rem 3rem; }
              #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list li {
                width: 200px;
                margin-bottom: .7rem;
                padding: 1rem 3rem;
                transition: all .25s linear; }
                #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list li:hover {
                  background: rgba(235, 102, 82, 0.07);
                  cursor: pointer; }
                #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list li:nth-child(1) {
                  margin-top: 1rem; }
          #header .desktop-bar .left #nav-links .drop-item .ss-menu {
            color: #181a20;
            background: #ffffff;
            border-radius: .6rem;
            height: auto;
            visibility: hidden;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: 0 0;
            position: absolute;
            left: 0;
            top: 100%;
            transition: all .2s ease-in-out;
            box-shadow: 0 10px 40px rgba(24, 26, 32, 0.05); }
          #header .desktop-bar .left #nav-links .drop-item .sub-menu {
            width: 240px; }
            #header .desktop-bar .left #nav-links .drop-item .sub-menu li {
              width: 240px;
              margin-bottom: .75rem;
              padding: 1rem 3rem;
              transition: all .25s linear;
              position: relative; }
              #header .desktop-bar .left #nav-links .drop-item .sub-menu li:hover {
                background: rgba(235, 102, 82, 0.07);
                cursor: pointer; }
              #header .desktop-bar .left #nav-links .drop-item .sub-menu li:nth-child(1) {
                margin-top: 1rem; }
              #header .desktop-bar .left #nav-links .drop-item .sub-menu li .parent-title {
                display: flex;
                justify-content: space-between; }
              #header .desktop-bar .left #nav-links .drop-item .sub-menu li .child-menu {
                border-radius: .6rem;
                position: absolute;
                left: 100%;
                top: 25%;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: 0 0;
                opacity: 0;
                background: #ffffff;
                transition: all .3s ease-in-out; }
            #header .desktop-bar .left #nav-links .drop-item .sub-menu .parent-menu:hover .child-menu {
              visibility: visible;
              transform: scaleY(1);
              opacity: 1; }
          #header .desktop-bar .left #nav-links .drop-item:hover {
            background: rgba(255, 255, 255, 0.07); }
          #header .desktop-bar .left #nav-links .drop-item:hover .ss-menu {
            visibility: visible;
            transform: scaleY(1);
            opacity: 1; }
    #header .desktop-bar .right {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      gap: 2rem; }
      #header .desktop-bar .right .account {
        font-weight: 600;
        cursor: pointer; }
        #header .desktop-bar .right .account span {
          margin-left: .5rem; }
      #header .desktop-bar .right .property-btn {
        font-size: 1.5rem;
        font-weight: 600;
        background: transparent;
        border: 1px solid #ffffff;
        outline: none;
        border-radius: 6rem;
        padding: 1.25rem 2.2rem;
        transition: all .3s linear;
        cursor: pointer; }
        #header .desktop-bar .right .property-btn:hover {
          background: #ee4c34; }
        #header .desktop-bar .right .property-btn i {
          font-size: 1.5rem;
          margin-left: 1rem;
          transform: rotate(-45deg); }
      #header .desktop-bar .right .menu-bar {
        font-size: 2.25rem;
        cursor: pointer; }
  #header .mobile-bar {
    width: 100%;
    font-size: 2rem;
    color: #181a20;
    background: #ffffff;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem; }
    #header .mobile-bar .logo-box {
      cursor: pointer; }
  #header .sidebar {
    width: 280px;
    height: 100%;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
    box-shadow: 0 10px 40px rgba(24, 26, 32, 0.05); }
    #header .sidebar .side-header {
      background: #fef4f3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 1.25rem; }
      #header .sidebar .side-header h4 {
        font-size: 2rem;
        font-weight: 600;
        color: #181a20; }
      #header .sidebar .side-header #closeMenu {
        color: #ffffff;
        background: #ee4c34;
        border-radius: 50%;
        padding: .8rem 1.5rem; }
    #header .sidebar .side-content #nav-links .drop-item {
      width: 100%;
      font-weight: 600;
      border-radius: 6rem;
      padding: .8rem 1.5rem;
      transition: all .25s linear;
      position: relative;
      cursor: pointer; }
      #header .sidebar .side-content #nav-links .drop-item .list-item {
        color: #181a20;
        display: flex;
        justify-content: space-between;
        align-items: center; }
      #header .sidebar .side-content #nav-links .drop-item .sub-menu {
        display: none;
        height: 0px;
        color: #181a20;
        background: #ffffff;
        border-radius: .6rem;
        box-shadow: 0 10px 40px rgba(24, 26, 32, 0.05);
        transition: height 500ms !important; }
      #header .sidebar .side-content #nav-links .drop-item .ss-menu {
        display: block;
        overflow: auto;
        height: auto;
        position: static;
        transform: none; }
      #header .sidebar .side-content #nav-links .drop-item .aeroActive {
        transform: rotate(90deg);
        transition: all .1s ease-in-out; }
  #header .sideActive {
    opacity: 1;
    animation: left-right .3s ease-in-out both;
    visibility: visible; }
@keyframes left-right {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translateZ(0); } }
@keyframes slideDown {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translateZ(0); } }
@media (max-width: 1200px) {
  #header .desktop-bar .right .account span {
    display: none; } }
@media (max-width: 992px) {
  #header .desktop-bar {
    display: none; }
  #header .mobile-bar {
    display: flex; } }
#home {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  background-image: url("../image/home.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative; }
  #home .container {
    width: 100%;
    height: 860px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    #home .container .content {
      width: 100%;
      text-align: center;
      display: grid;
      place-items: center;
      padding: 0 2rem; }
      #home .container .content .sub-title {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-bottom: 1rem;
        animation: fadeInUp .25s .2s both; }
      #home .container .content .title {
        font-size: 5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        animation: fadeInUp .35s .3s both; }
      #home .container .content .desc {
        font-weight: 400;
        animation: fadeInUp .45s .4s both; }
      #home .container .content .search-content {
        width: 100%;
        max-width: 960px;
        margin-top: 7rem;
        animation: fadeInUp .55s .5s both; }
        #home .container .content .search-content .nav-tabs {
          max-width: 250px;
          display: flex;
          background-color: #ffffff;
          padding: 0rem 1rem;
          border-bottom: 1px solid #ddd;
          border-top-left-radius: .9rem;
          border-top-right-radius: .9rem; }
          #home .container .content .search-content .nav-tabs .btn-active {
            color: #181a20;
            border-color: transparent transparent #181a20; }
          #home .container .content .search-content .nav-tabs button {
            color: #717171;
            font-size: 1.5rem;
            font-weight: 600;
            background: transparent;
            border: transparent;
            border-bottom: 2px solid transparent;
            outline: none;
            padding: 2rem;
            cursor: pointer;
            margin-right: 1rem; }
        #home .container .content .search-content .tab-content {
          background-color: #ffffff;
          padding: 2rem;
          border-radius: 0 .9rem .9rem .9rem; }
          #home .container .content .search-content .tab-content .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 3rem; }
            #home .container .content .search-content .tab-content .row .col-1 {
              flex: 0 0 auto;
              width: 70%; }
              #home .container .content .search-content .tab-content .row .col-1 input {
                background: #f7f7f7;
                width: 100%;
                border: none;
                border-radius: .6rem;
                outline: none;
                padding: 1.5rem 3rem; }
            #home .container .content .search-content .tab-content .row .col-2 {
              width: 25%;
              display: flex;
              align-items: center; }
              #home .container .content .search-content .tab-content .row .col-2 button {
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer; }
              #home .container .content .search-content .tab-content .row .col-2 .setting {
                width: 100%; }
              #home .container .content .search-content .tab-content .row .col-2 .search-icon {
                display: block;
                width: 75px;
                height: 55px;
                color: #ffffff;
                background: #eb6753;
                border-radius: 50%;
                line-height: 55px;
                transition: all .25s linear; }
                #home .container .content .search-content .tab-content .row .col-2 .search-icon:hover {
                  background: #ee4c34; }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@media (max-width: 992px) {
  #home .container .content .search-content {
    max-width: 700px; } }
@media (max-width: 768px) {
  #home .container .content .search-content {
    max-width: 500px; }
    #home .container .content .search-content .tab-content .row .col-1,
    #home .container .content .search-content .tab-content .row .col-2 {
      width: 100%; }
    #home .container .content .search-content .tab-content .row .col-2 {
      justify-content: center;
      gap: 3rem; } }
@media (max-width: 500px) {
  #home .container .content .title {
    font-size: 3rem; }
  #home .container .content .search-content {
    max-width: 350px; } }
#explore-property {
  color: #000;
  background: #fff;
  font-size: 1.5rem;
  padding: 12rem 0;
  position: relative; }
  #explore-property .container {
    max-width: 1320px;
    margin: 0 auto; }
    #explore-property .container .row-1 {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #explore-property .container .row-1 .text {
        opacity: 0; }
      #explore-property .container .row-1 .swiperBtn {
        display: flex;
        gap: 1rem;
        max-width: 200px; }
        #explore-property .container .row-1 .swiperBtn .swiper-button-prev {
          font-size: 1rem; }
        #explore-property .container .row-1 .swiperBtn .swiper-button-next {
          font-size: 5rem; }
    #explore-property .container .row-2 {
      margin-top: 5rem; }
      #explore-property .container .row-2 .col {
        margin-top: 3rem; }
        #explore-property .container .row-2 .col .slider {
          display: flex;
          gap: 2rem; }
          #explore-property .container .row-2 .col .slider .item {
            width: 100%;
            max-width: 250px;
            color: #181a20;
            background: #f7f7f7;
            border-radius: 1rem;
            padding: 3rem;
            transition: all .3s linear; }
            #explore-property .container .row-2 .col .slider .item .exIcon {
              font-size: 3rem;
              display: block;
              width: 70px;
              height: 70px;
              text-align: center;
              background: #ffffff;
              border-radius: 50%;
              padding: 1rem;
              margin-bottom: 6rem;
              transition: all .3s linear; }
              #explore-property .container .row-2 .col .slider .item .exIcon:hover {
                color: #f7f7f7;
                background: rgba(255, 255, 255, 0.1); }
            #explore-property .container .row-2 .col .slider .item .text {
              color: #181a20; }
              #explore-property .container .row-2 .col .slider .item .text h6 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: .5rem; }
              #explore-property .container .row-2 .col .slider .item .text p {
                font-size: 1.4rem;
                font-weight: 400; }
            #explore-property .container .row-2 .col .slider .item:hover {
              color: #f7f7f7;
              background: #181a20; }
              #explore-property .container .row-2 .col .slider .item:hover .exIcon {
                color: #f7f7f7;
                background: rgba(255, 255, 255, 0.1); }
              #explore-property .container .row-2 .col .slider .item:hover .text {
                color: #ffffff; }
  #explore-property .inOut-ani {
    animation: fadeInUp .25s linear .2s both;
    opacity: 1; }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
#category {
  font-size: 1.5rem;
  text-align: center;
  padding: 12rem 0;
  color: #181a20; }
  #category .container .row-1 {
    margin-bottom: 5rem; }
    #category .container .row-1 .title {
      font-size: 3rem;
      font-weight: 600; }
    #category .container .row-1 .desc {
      font-size: 1.4rem; }
  #category .container .row-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem; }
    #category .container .row-2 .icon-box .card {
      border-radius: 1rem;
      padding: 6rem 3.5rem 2rem;
      transition: all .3s linear; }
      #category .container .row-2 .icon-box .card img {
        width: 150px;
        height: 150px;
        margin-bottom: 1rem; }
      #category .container .row-2 .icon-box .card .title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem; }
      #category .container .row-2 .icon-box .card .desc {
        font-size: 1.4rem;
        line-height: 1.7;
        margin-bottom: 2.5rem; }
      #category .container .row-2 .icon-box .card .btn {
        font-size: 1.5rem;
        font-weight: 600;
        background: transparent;
        border: 1px solid #181a20;
        outline: none;
        border-radius: 1rem;
        padding: 1.7rem 2.75rem;
        transition: all .3s linear;
        cursor: pointer; }
        #category .container .row-2 .icon-box .card .btn:hover {
          color: #ffffff;
          background: #181a20; }
        #category .container .row-2 .icon-box .card .btn i {
          font-size: 1.5rem;
          margin-left: 1rem;
          transform: rotate(-45deg); }
      #category .container .row-2 .icon-box .card:hover {
        box-shadow: 0 10px 40px rgba(24, 26, 32, 0.05); }

@media (max-width: 992px) {
  #category .container .row-2 {
    grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 550px) {
  #category .container .row-1 {
    margin-bottom: 3rem; }
    #category .container .row-1 .title {
      font-size: 2.25rem; }
    #category .container .row-1 .desc {
      font-size: 1.5rem; }
  #category .container .row-2 {
    grid-template-columns: 1fr; } }
#featured-list {
  font-size: 1.5rem;
  background: #F7F7F7;
  padding: 12rem 15rem; }
  #featured-list .container .row-1 {
    margin-bottom: 7rem; }
    #featured-list .container .row-1 .title {
      font-size: 3rem; }
    #featured-list .container .row-1 .txt {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem; }
  #featured-list .container .row-2 {
    display: grid;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    grid-template-columns: repeat(3, 1fr); }
    #featured-list .container .row-2 .item {
      position: relative;
      background: #fff;
      overflow: hidden;
      border-radius: 1rem; }
      #featured-list .container .row-2 .item .list-thumb {
        position: relative;
        overflow: hidden; }
        #featured-list .container .row-2 .item .list-thumb .sticker {
          color: #ffffff;
          background: #eb6753;
          font-size: 1.25rem;
          text-transform: uppercase;
          padding: .5rem 1rem;
          border-radius: .6rem;
          position: absolute;
          left: 20px;
          top: 20px; }
        #featured-list .container .row-2 .item .list-thumb .image {
          position: relative;
          width: 100%;
          transition: all .25s linear; }
        #featured-list .container .row-2 .item .list-thumb .price {
          background: #ffffff;
          padding: .5rem .75rem;
          border-radius: .6rem;
          position: absolute;
          left: 20px;
          bottom: 20px; }
      #featured-list .container .row-2 .item .list-content {
        padding: 2rem;
        color: #717171; }
        #featured-list .container .row-2 .item .list-content .title {
          color: #181a20;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2.5rem; }
        #featured-list .container .row-2 .item .list-content .desc {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2.75rem;
          margin-bottom: 1.5rem; }
        #featured-list .container .row-2 .item .list-content .list-icon {
          display: flex;
          align-items: center;
          column-gap: 3rem; }
          #featured-list .container .row-2 .item .list-content .list-icon li {
            font-size: 1.3rem;
            transition: all .2s linear; }
            #featured-list .container .row-2 .item .list-content .list-icon li span {
              margin-left: 1rem; }
            #featured-list .container .row-2 .item .list-content .list-icon li:hover {
              cursor: pointer;
              color: #eb6753; }
        #featured-list .container .row-2 .item .list-content .list-meta .sub-title {
          font-size: 1.3rem; }
        #featured-list .container .row-2 .item .list-content .divider {
          width: 100%;
          margin: 1rem 0;
          height: 1px;
          background: #ddd; }
        #featured-list .container .row-2 .item .list-content .list-meta {
          display: flex;
          align-items: center;
          justify-content: space-between; }
      #featured-list .container .row-2 .item:hover .list-thumb .sticker {
        animation: upDown .25s linear both; }
      #featured-list .container .row-2 .item:hover .list-thumb .image {
        transform: scale(1.11) rotate(-1deg); }
@keyframes upDown {
  0% {
    transform: translateY(0px);
    opacity: 1; }
  100% {
    transform: translateY(25px);
    opacity: 0; } }
@media (max-width: 992px) {
  #featured-list {
    padding: 10rem; }
    #featured-list .container .row-2 {
      grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 768px) {
  #featured-list {
    padding: 7rem; }
    #featured-list .container .row-2 {
      grid-template-columns: 1fr; } }
@media (max-width: 550px) {
  #featured-list {
    padding: 2rem 1rem; }
    #featured-list .container .row-1 {
      margin-bottom: 3rem; }
      #featured-list .container .row-1 .title {
        font-size: 2rem; }
      #featured-list .container .row-1 .txt {
        flex-direction: column; }
    #featured-list .container .row-2 {
      gap: 2rem; }
      #featured-list .container .row-2 .item .list-thumb {
        font-size: 1rem; }
        #featured-list .container .row-2 .item .list-thumb .sticker {
          font-size: 1rem; }
      #featured-list .container .row-2 .item .list-content {
        padding: 1.5rem; }
        #featured-list .container .row-2 .item .list-content .list-icon {
          column-gap: 1.5rem; } }
#footer {
  color: #ffffff;
  background: #181a20;
  font-size: 1.5rem; }
  #footer .container {
    padding: 12rem 0; }
    #footer .container .row {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      column-gap: 2rem; }
      #footer .container .row .col-1 {
        grid-column: 1/2; }
        #footer .container .row .col-1 .footer-logo {
          margin-bottom: 3rem; }
        #footer .container .row .col-1 .contact-list {
          display: flex;
          column-gap: 2rem;
          margin-bottom: 3rem;
          line-height: 2; }
          #footer .container .row .col-1 .contact-list .title {
            font-weight: 400;
            color: #bebdbd;
            font-size: 1.4rem; }
          #footer .container .row .col-1 .contact-list .contact {
            font-weight: 600;
            transition: all .2s linear; }
          #footer .container .row .col-1 .contact-list .contact:hover {
            cursor: pointer;
            color: #eb6753; }
        #footer .container .row .col-1 .app-widget {
          margin-bottom: 5rem; }
          #footer .container .row .col-1 .app-widget .title {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1rem; }
          #footer .container .row .col-1 .app-widget .app-link {
            display: flex;
            align-items: center;
            gap: 3rem; }
            #footer .container .row .col-1 .app-widget .app-link .col {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 2rem;
              color: #ffffff;
              background: rgba(255, 255, 255, 0.04);
              border-radius: 1rem;
              padding: .75rem 1.5rem;
              transition: all .25s linear; }
              #footer .container .row .col-1 .app-widget .app-link .col .icon {
                font-size: 3rem; }
              #footer .container .row .col-1 .app-widget .app-link .col .sub-title {
                font-size: 1.3rem;
                color: #bebdbd; }
            #footer .container .row .col-1 .app-widget .app-link .col:hover {
              background: #ee4c34; }
        #footer .container .row .col-1 .social-widget {
          margin-bottom: 3rem; }
          #footer .container .row .col-1 .social-widget .meta {
            padding: 2.5rem 2rem;
            display: flex;
            align-items: center;
            column-gap: 3rem; }
            #footer .container .row .col-1 .social-widget .meta .social-link {
              background: transparent;
              border-radius: 50%;
              padding: .7rem 1.3rem;
              transition: all .2s linear;
              position: relative; }
            #footer .container .row .col-1 .social-widget .meta .social-link:hover {
              cursor: pointer;
              background: rgba(255, 255, 255, 0.05); }
      #footer .container .row .col-2 {
        grid-column: 2/-1; }
        #footer .container .row .col-2 .footer-list {
          display: flex;
          align-items: flex-start;
          gap: 3rem; }

/*# sourceMappingURL=style.css.map */
