@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

#header {
  width: 100%;
  display: block;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  background-color: transparent;
  position: fixed;
  z-index: 1; }
  #header .sticky {
    box-shadow: 0 1px 4px rgba(24, 26, 32, 0.07);
    position: fixed;
    color: #181a20;
    background: #fff;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 99; }
@keyframes slideDown {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translateZ(0); } }
    #header .sticky .left #nav-links .drop-item .list-item {
      color: #181a20 !important; }
    #header .sticky .right .property-btn {
      border: 1px solid #181a20 !important; }
    #header .sticky .left .logo-box .wh-img {
      display: none; }
    #header .sticky .left .logo-box .b-img {
      display: block !important; }
    #header .sticky .right {
      color: #181a20; }
      #header .sticky .right .property-btn {
        color: #181a20;
        border: 1px solid #181a20 !important; }
        #header .sticky .right .property-btn:hover {
          color: #ffffff; }
  #header .desktop-bar {
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0; }
    #header .desktop-bar .left {
      display: flex;
      align-items: center;
      gap: 5rem; }
      #header .desktop-bar .left .logo-box {
        display: flex;
        align-items: center;
        cursor: pointer; }
      #header .desktop-bar .left #nav-links {
        display: flex;
        align-items: center; }
        #header .desktop-bar .left #nav-links .drop-item {
          font-weight: 500;
          border-radius: 6rem;
          padding: .8rem 1.5rem;
          transition: all .25s linear;
          position: relative;
          cursor: pointer; }
          #header .desktop-bar .left #nav-links .drop-item .list-item {
            color: #ffffff;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: 1rem; }
            #header .desktop-bar .left #nav-links .drop-item .list-item span:nth-child(2) {
              font-size: 1.25rem; }
            #header .desktop-bar .left #nav-links .drop-item .list-item .fa-chevron-down {
              font-weight: 600; }
          #header .desktop-bar .left #nav-links .drop-item .megamenu {
            max-width: 600px;
            display: flex;
            justify-content: space-evenly; }
            #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list {
              margin-top: 1rem; }
              #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list h4 {
                padding: 1rem 3rem; }
              #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list li {
                width: 200px;
                margin-bottom: .7rem;
                padding: 1rem 3rem;
                transition: all .25s linear; }
                #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list li:hover {
                  background: rgba(235, 102, 82, 0.07);
                  cursor: pointer; }
                #header .desktop-bar .left #nav-links .drop-item .megamenu .megamenu-list li:nth-child(1) {
                  margin-top: 1rem; }
          #header .desktop-bar .left #nav-links .drop-item .ss-menu {
            color: #181a20;
            background: #ffffff;
            border-radius: .6rem;
            height: auto;
            visibility: hidden;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: 0 0;
            position: absolute;
            left: 0;
            top: 100%;
            transition: all .2s ease-in-out;
            box-shadow: 0 10px 40px rgba(24, 26, 32, 0.05); }
          #header .desktop-bar .left #nav-links .drop-item .sub-menu {
            width: 240px; }
            #header .desktop-bar .left #nav-links .drop-item .sub-menu li {
              width: 240px;
              margin-bottom: .75rem;
              padding: 1rem 3rem;
              transition: all .25s linear;
              position: relative; }
              #header .desktop-bar .left #nav-links .drop-item .sub-menu li:hover {
                background: rgba(235, 102, 82, 0.07);
                cursor: pointer; }
              #header .desktop-bar .left #nav-links .drop-item .sub-menu li:nth-child(1) {
                margin-top: 1rem; }
              #header .desktop-bar .left #nav-links .drop-item .sub-menu li .parent-title {
                display: flex;
                justify-content: space-between; }
              #header .desktop-bar .left #nav-links .drop-item .sub-menu li .child-menu {
                border-radius: .6rem;
                position: absolute;
                left: 100%;
                top: 25%;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: 0 0;
                opacity: 0;
                background: #ffffff;
                transition: all .3s ease-in-out; }
            #header .desktop-bar .left #nav-links .drop-item .sub-menu .parent-menu:hover .child-menu {
              visibility: visible;
              transform: scaleY(1);
              opacity: 1; }
          #header .desktop-bar .left #nav-links .drop-item:hover {
            background: rgba(255, 255, 255, 0.07); }
          #header .desktop-bar .left #nav-links .drop-item:hover .ss-menu {
            visibility: visible;
            transform: scaleY(1);
            opacity: 1; }
    #header .desktop-bar .right {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      gap: 2rem; }
      #header .desktop-bar .right .account {
        font-weight: 600;
        cursor: pointer; }
        #header .desktop-bar .right .account span {
          margin-left: .5rem; }
      #header .desktop-bar .right .property-btn {
        font-size: 1.5rem;
        font-weight: 600;
        background: transparent;
        border: 1px solid #ffffff;
        outline: none;
        border-radius: 6rem;
        padding: 1.25rem 2.2rem;
        transition: all .3s linear;
        cursor: pointer; }
        #header .desktop-bar .right .property-btn:hover {
          background: #ee4c34; }
        #header .desktop-bar .right .property-btn i {
          font-size: 1.5rem;
          margin-left: 1rem;
          transform: rotate(-45deg); }
      #header .desktop-bar .right .menu-bar {
        font-size: 2.25rem;
        cursor: pointer; }
  #header .mobile-bar {
    width: 100%;
    font-size: 2rem;
    color: #181a20;
    background: #ffffff;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem; }
    #header .mobile-bar .logo-box {
      cursor: pointer; }
  #header .sidebar {
    width: 280px;
    height: 100%;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
    box-shadow: 0 10px 40px rgba(24, 26, 32, 0.05); }
    #header .sidebar .side-header {
      background: #fef4f3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 1.25rem; }
      #header .sidebar .side-header h4 {
        font-size: 2rem;
        font-weight: 600;
        color: #181a20; }
      #header .sidebar .side-header #closeMenu {
        color: #ffffff;
        background: #ee4c34;
        border-radius: 50%;
        padding: .8rem 1.5rem; }
    #header .sidebar .side-content #nav-links .drop-item {
      width: 100%;
      font-weight: 600;
      border-radius: 6rem;
      padding: .8rem 1.5rem;
      transition: all .25s linear;
      position: relative;
      cursor: pointer; }
      #header .sidebar .side-content #nav-links .drop-item .list-item {
        color: #181a20;
        display: flex;
        justify-content: space-between;
        align-items: center; }
      #header .sidebar .side-content #nav-links .drop-item .sub-menu {
        display: none;
        height: 0px;
        color: #181a20;
        background: #ffffff;
        border-radius: .6rem;
        box-shadow: 0 10px 40px rgba(24, 26, 32, 0.05);
        transition: height 500ms !important; }
      #header .sidebar .side-content #nav-links .drop-item .ss-menu {
        display: block;
        overflow: auto;
        height: auto;
        position: static;
        transform: none; }
      #header .sidebar .side-content #nav-links .drop-item .aeroActive {
        transform: rotate(90deg);
        transition: all .1s ease-in-out; }
@keyframes left-right {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translateZ(0); } }
  #header .sideActive {
    opacity: 1;
    animation: left-right .3s ease-in-out both;
    visibility: visible; }

@media (max-width: 1200px) {
  #header .desktop-bar .right .account span {
    display: none; } }
@media (max-width: 992px) {
  #header .desktop-bar {
    display: none; }
  #header .mobile-bar {
    display: flex; } }
#home {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  background-image: url("../image/home.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative; }
  #home .container {
    width: 100%;
    height: 860px;
    display: grid;
    place-items: center;
    text-align: center; }
  #home .content {
    max-width: 900px;
    width: 100%;
    text-align: center; }
    #home .content .title {
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .5rem; }
    #home .content .desc {
      font-size: 5rem; }
    #home .content .search-content {
      width: 100%;
      margin-top: 7rem; }
      #home .content .search-content .nav-tabs {
        max-width: 250px;
        display: flex;
        background-color: #ffffff;
        padding: 0rem 1rem;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: .9rem;
        border-top-right-radius: .9rem; }
        #home .content .search-content .nav-tabs .btn-active {
          color: #181a20;
          border-color: transparent transparent #181a20; }
        #home .content .search-content .nav-tabs button {
          color: #717171;
          font-size: 1.5rem;
          font-weight: 600;
          background: transparent;
          border: transparent;
          border-bottom: 2px solid transparent;
          outline: none;
          padding: 2rem;
          cursor: pointer;
          margin-right: 1rem; }
      #home .content .search-content .tab-content {
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 0 .9rem .9rem .9rem; }
        #home .content .search-content .tab-content .row {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 3rem; }
          #home .content .search-content .tab-content .row .col-1 {
            flex: 0 0 auto;
            width: 70%; }
            #home .content .search-content .tab-content .row .col-1 input {
              background: #f7f7f7;
              width: 100%;
              border: none;
              border-radius: .6rem;
              outline: none;
              padding: 1.5rem 3rem; }
          #home .content .search-content .tab-content .row .col-2 {
            width: 25%;
            display: flex;
            align-items: center; }
            #home .content .search-content .tab-content .row .col-2 button {
              background: transparent;
              border: none;
              outline: none;
              cursor: pointer; }
            #home .content .search-content .tab-content .row .col-2 .setting {
              width: 100%; }
            #home .content .search-content .tab-content .row .col-2 .search-icon {
              display: block;
              width: 75px;
              height: 55px;
              color: #ffffff;
              background: #eb6753;
              border-radius: 50%;
              line-height: 55px;
              transition: all .25s linear; }
              #home .content .search-content .tab-content .row .col-2 .search-icon:hover {
                background: #ee4c34; }

@media (max-width: 992px) {
  #home .content {
    max-width: 700px; } }
@media (max-width: 768px) {
  #home .content {
    max-width: 480px; }
    #home .content .search-content .tab-content .row .col-1,
    #home .content .search-content .tab-content .row .col-2 {
      width: 100%; }
    #home .content .search-content .tab-content .row .col-2 {
      justify-content: center;
      gap: 3rem; } }
@media (max-width: 500px) {
  #home .content {
    max-width: 300px; }
    #home .content .search-content .tab-content {
      border-radius: 0 0 .9rem .9rem; } }
#explore-property {
  min-height: 100vh;
  background: #fff; }

#category {
  min-height: 100vh;
  background: #000; }

/*# sourceMappingURL=style.css.map */
